<div class="container-fluid">
    <footer>
        <h2>Contact Me</h2>
        <div class="row">
            <div class="col-md-4 col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Links</div>
                        </div>
                    </li>
                    <li class="list-group-item"><a href="/">Home</a></li>
                    <li class="list-group-item"><a href="/about">About</a></li>
                    <li class="list-group-item"><a href="/projects">Projects</a></li>
                    <li class="list-group-item"><a href="/about#hobbies">Hobbies</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-12">
                <ul class="list-group list-group-flush gap-2">
                    <li class="list-group-item d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Email</div>
                            megancatherinesimpson@gmail.com
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Phone</div>
                            (647) 391 4140
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Socials</div>
                            <a class="nav-link" href="https://www.linkedin.com/in/megancsimpson/">Linkedin</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>